# macOS
.DS_Store

# Xcode build products
build/
DerivedData/
DerivedDataMCP/

# Xcode user-specific files
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
xcuserdata/

# Swift Package Manager
.build/
.swiftpm/

# Archives & symbols
*.ipa
*.dSYM
*.dSYM.zip

# Config secrets
Configs/Secrets.xcconfig

# Claude
.claude/settings.local.json

# MCP
.spm
.sandbox_home
