#include? "Secrets.xcconfig"

STATSIG_SDK_KEY = $(STATSIG_SDK_KEY)
STATSIG_ENVIRONMENT = $(STATSIG_ENVIRONMENT)
TMDB_API_KEY = $(TMDB_API_KEY)

// Build Speed Optimizations
SWIFT_COMPILATION_MODE = incremental
SWIFT_OPTIMIZATION_LEVEL = -Onone
SWIFT_ENABLE_EXPLICIT_MODULES = YES
COMPILER_INDEX_STORE_ENABLE = NO
ONLY_ACTIVE_ARCH = YES
ENABLE_TESTABILITY = YES
