#include? "Secrets.xcconfig"

SENTRY_DSN = $(SENTRY_DSN)
SENTRY_ENVIRONMENT = $(SENTRY_ENVIRONMENT)

STATSIG_SDK_KEY = $(STATSIG_SDK_KEY)
STATSIG_ENVIRONMENT = $(STATSIG_ENVIRONMENT)

TMDB_API_KEY = $(TMDB_API_KEY)

SWIFT_TREAT_WARNINGS_AS_ERRORS = YES

// Release Optimizations
SWIFT_COMPILATION_MODE = wholemodule
SWIFT_OPTIMIZATION_LEVEL = -O
DEAD_CODE_STRIPPING = YES
COPY_PHASE_STRIP = YES
ENABLE_TESTABILITY = NO
