#include? "Secrets.xcconfig"

STATSIG_SDK_KEY = $(STATSIG_SDK_KEY)
STATSIG_ENVIRONMENT = $(STATSIG_ENVIRONMENT)
TMDB_API_KEY = $(TMDB_API_KEY)

// Release Optimizations
SWIFT_COMPILATION_MODE = wholemodule
SWIFT_OPTIMIZATION_LEVEL = -O
DEAD_CODE_STRIPPING = YES
COPY_PHASE_STRIP = YES
ENABLE_TESTABILITY = NO
